{% extends "ecoWanderApp/basenavbarsimple.html" %}


{% load static %}

{% block content %}

  <div class="container-fluid mt-5 form-container">
    <h1>EcoWander</h1>
    <h2>¡Crea tu cuenta!</h2>
    <p>Sé parte de la familia de ecoWander y vuélvete un cliente de destino.</p>
   
   <form class="row g-3" method="post"  autocomplete="off">
       {% csrf_token %} 
       
 
       <div class="col-md-4">
          <label class="form-label" for="name">Nombre</label>
           {{ form.first_name }}
           {% if form.first_name.errors %}
           <div class="text-danger">
               {{ form.first_name.errors|join:", " }}
           </div>
           {% endif %}
       </div>

       <div class="col-md-4">
           <label class="form-label" for="id_last_name">Apellido</label>
           {{ form.last_name }}
           {% if form.last_name.errors %}
           <div class="text-danger">
               {{ form.last_name.errors|join:", " }}
           </div>
           {% endif %}
       </div>
       
       <div class="col-md-4">
           <label class="form-label" for="id_email">Correo Electrónico</label>
           {{ form.email }}
           {% if form.email.errors %}
           <div class="text-danger">
               {{ form.email.errors|join:", " }}
           </div>
           {% endif %}
       </div>

       <div class="col-md-4">
           <label class="form-label" for="id_type_document">Tipo de Documento</label>
           {{ form.type_document }}
           {% if form.type_document.errors %}
           <div class="text-danger">
               {{ form.type_document.errors|join:", " }}
           </div>
           {% endif %}
       </div>

       <div class="col-md-4">
           <label class="form-label" for="id_number_document">Número de Documento</label>
           {{ form.number_document }}
           {% if form.number_document.errors %}
           <div class="text-danger">
               {{ form.number_document.errors|join:", " }}
           </div>
           {% endif %}
       </div>

       <div class="col-md-4">
           <label  autocomplete="off" class="form-label" for="id_phone">Teléfono</label>
           {{ form.phone }}
           {% if form.phone.errors %}
           <div class="text-danger">
               {{ form.phone.errors|join:", " }}
           </div>
           {% endif %}
       </div>

       <div class="col-md-4">
           <label class="form-label" for="id_password">Contraseña</label>
           {{ form.password }}
           {% if form.password.errors %}
           <div class="text-danger">
               {{ form.password.errors|join:", " }}
           </div>
           {% endif %}
           
       </div>

       <div class="col-md-4">
           <label class="form-label" for="id_password_confirm">Confirmar Contraseña</label>
           {{ form.password_confirm }}
           {% if form.password_confirm.errors %}
           <div class="text-danger">
               {{ form.password_confirm.errors|join:", " }}
           </div>
           {% endif %}
           
       </div>

       
       
       <div  class="btn-submit mx-auto" >
        <div  class="row justify-content-center">
          
            <button type="submit" class="btn btn-primary btn-sm mx-auto d-block">Registrarse</button>
      
        </div>
     </div>
     <p>Ya tienes una cuenta <a class="link-primary" href="{% url 'log_in' %}">Iniciar sesión</a></p>
   </form>

</div>







{% endblock %}